<div #player class="videoplayer">
    <div class="header" *ngIf="title" fxLayout="row" fxLayoutAlign="center center" [ngClass]="getOverlayClass()" [ngStyle]="getHeaderStyle()">
        {{title}}
    </div>

    <video #video [src]="src" [attr.autoplay]="autoplay ? true : null" [preload]="preload ? 'auto' : 'metadata'" [ngStyle]="getVideoStyle()">
        This browser does not support HTML5 video.
    </video>

    <div class="controls" [ngClass]="getOverlayClass()" [ngStyle]="getControlsStyle()">
        <div class="progress">
            <mat-slider-progress-bar color="primary" class="slider-progress" mode="buffer" step="0.01" [value]="currentTimePercentage"
                [bufferValue]="bufferedTimePercentage" (input)="seekVideo($event)"></mat-slider-progress-bar>
        </div>

        <div class="menu">
            <div class="left">
                <mat-play-button [playing]="playing" (playbackChanged)="toggleVideoPlayback()"></mat-play-button>

                <mat-playtime-control [time]="currentTime" [duration]="duration"></mat-playtime-control>
            </div>

            <div class="right">
                <mat-quality-control [resolution]="videoHeight"></mat-quality-control>

                <mat-volume-control [volume]="volume" [muted]="muted" (volumeChanged)="updateVolume($event)" (mutedChanged)="toggleVolumeMute()"></mat-volume-control>

                <mat-download-button *ngIf="download" [src]="src" [title]="title"></mat-download-button>

                <mat-fullscreen-button *ngIf="fullscreen" [isFullscreen]="isFullscreen" (fullscreenChanged)="toggleFullscreen()"></mat-fullscreen-button>
            </div>
        </div>
    </div>
</div>