.videoplayer {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
    position: relative;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 14px;
    width: 100%;
    z-index: 1;
}

.video {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.controls {
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.controls .progress {
    height: 26px;
}

.controls .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
}

.controls .menu .left {
    justify-content: flex-start;
}

.controls .menu .right {
    justify-content: flex-end;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
