<div #player class="videoplayer" [ngClass]="getMouseClass()" [ngStyle]="getVideoPlayerStyle()">
    <div class="header" *ngIf="title" [ngClass]="getOverlayClass()">
        {{title}}
    </div>

    <video #video class="video" [src]="src" [attr.autoplay]="autoplay ? true : null" [preload]="preload ? 'auto' : 'metadata'"
        [attr.poster]="poster ? poster : null">
        This browser does not support HTML5 video.
    </video>

    <div class="controls" *ngIf="videoLoaded" [ngClass]="getOverlayClass()">
        <div class="progress">
            <mat-seek-progress-control [color]="color" [video]="video"></mat-seek-progress-control>
        </div>

        <div class="menu">
            <div class="left">
                <mat-play-button [video]="video"></mat-play-button>

                <mat-volume-control [color]="color" [video]="video"></mat-volume-control>

                <mat-playtime-control [video]="video"></mat-playtime-control>
            </div>

            <div class="right">
                <mat-quality-control [video]="video"></mat-quality-control>

                <mat-download-button *ngIf="download" [src]="src" [title]="title"></mat-download-button>

                <mat-fullscreen-button *ngIf="fullscreen" (fullscreenChanged)="isFullscreen = $event" [player]="player"></mat-fullscreen-button>
            </div>
        </div>
    </div>

    <mat-video-spinner [spinner]="spinner" [video]="video"></mat-video-spinner>
</div>