div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  margin: 8px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-video-responsive {
  width: 50%;
}

.mat-video-fixed {
  width: 600px;
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 500px;
}

.github {
  fill: white;
}

.title {
  font-weight: bold;
  margin: auto;
}

.title .name {
  font-style: italic;
}

.options {
  display: flex;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  font-size: 12px;
  z-index: 2;
}

.footer .badges {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 12px;
}

.footer .icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
}

.footer .version {
  text-align: left;
}

.footer .copyright {
  text-align: center;
  margin: auto;
}

.footer .license {
  text-align: right;
}

.mat-drawer-container {
  background-color: white;
}

.mat-drawer-side {
  border-right: none;
}

.item-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.item-margin {
  margin: 0 10px;
}
